.footable {
	width: 100%;
}

.footable.breakpoint > tbody > tr > td.footable-expand {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAaJJREFUSEvllUFuglAQhl1115WrtzJGAUVQoIrgEy3V2gWr3mHuoqXtXdqkp2oXvULnx0KKoYlNZleTL0NgmH9m3oy0Wv/i1zf6bdM0M2tgVRimkYkVH85DtdALWq1XtL5eFzaKIxIT0Eut0jSl3d2uAiJiApy9Qubb221FskrkBOJFrJDxZrup4KrkBObRXC2TJaU3aQWLygmEYai01sUBl/z5kDudTrvb7aomJt7EQcboO1oFy1URj26jP2JwvMvaEGCuh/aQbNsuKK9hPd8jCKBNOtEFqMB13cr3p/9gOCDDMIKagOd5GbJqAsEgUKBjwk7gGveb/GfhjDjeiYDvZXhBAl5MVF0XGE/GGR5IMJ1NiePVBRzXyfBAguAqII5XF/j4fI+YrInXt5d7HDReLOEe02/+3/fNs/9K7JGt3LFLfuCT7zNsOUO5ReOxUwjI+1DBonICpmUqzDmqKOFvg5wAL6HC8ozcETmOU1jLEhTgL5pCxmhLCVclV0Gv31MIiDaVsKicwD7fq4fHA+VP+ZHnnA75Xk6A5/qCUaecM+dfpb4QKE1wJiAAAAAASUVORK5CYII=) no-repeat left center;
	padding-left: 40px;
}

.footable.breakpoint > tbody > tr.footable-detail-show > td.footable-expand {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwgAADsIBFShKgAAAABp0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuMTAw9HKhAAAAmElEQVRIS2NgGAWjITAaAvQLAXl5eWFFRUVJamGgebworldVU/XW1NJM0dLSAmMYG0STytbQ1EhRVVU1QrHAwMDA29zCPIUa2NTMNAVoHpoFhgbeFpYWKdTAZuZmKQaGaBbo6et5gySogU1MTVKA5qH6QEdXxxskQQ1sZGyUAjQP1YLX719ZALE3FbEa/fLAqE2jITC4QwAAaXKwpLW9uNwAAAAASUVORK5CYII=) no-repeat left center;
}

.footable.breakpoint > tbody > tr:hover:not(.footable-row-detail) {
	cursor: pointer;
}

/** SORTING **/
.footable > thead > tr > th > span.footable-sort-indicator {
	width: 16px;
	height: 16px;
	display: block;
	float:right;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAwCAYAAAAYX/pXAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAG6gAABuoBnnZ8rgAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuND6NzHYAAACXSURBVEhL7VZBDoAgDOMZPnm/ViHOTMJwsyQYnQnhQru1sMaUvvsR0bKvNe9ulQKcCXwkFZi7sJMcFU+AJHRLmQOAJcAmZt3QNbJx0EOa435UfYMDYgY4RNRd7ddC0hXbmIFLFyanNBITuDFIpQMXWB6GwI+rBjAcGO4A9JSrbPD95ijBYiO5SaU+CRRpFjCfGX5bfyfcAO/0ITAF5hBXAAAAAElFTkSuQmCC) no-repeat top left;
}

.footable > thead > tr > th.footable-sortable:hover {
	cursor:pointer;
}

.footable > thead > tr > th.footable-sorted > span.footable-sort-indicator {
	background-position: 0 -16px;
}

.footable > thead > tr > th.footable-sorted-desc > span.footable-sort-indicator {
	background-position: 0 -32px;
}