.footable-nav{
	list-style: none;
	color: #333;
	font-family: arial;
	font-weight: bold;
}

.footable-nav li{
	display: inline-block;
}

.footable-nav a{
	display: inline-block;
	padding: 5px 10px;
	text-decoration: none;
	color: #0066cc;
}

.footable-nav .current{
	background: #333;
}

.footable-nav .current a{
	color: #fff;
}