@font-face {
  font-family: 'footable';
  src: url('fonts/footable.eot#iefix');
  src: url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAAVwAA0AAAAACRQAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAABMAAAABoAAAAcZ8sDZEdERUYAAAFMAAAAHwAAACAAOgAGT1MvMgAAAWwAAABHAAAAVi7i2phjbWFwAAABtAAAAEUAAAFS4CXz02dhc3AAAAH8AAAACAAAAAj//wADZ2x5ZgAAAgQAAAGQAAADXJ3BFY1oZWFkAAADlAAAADEAAAA2/GygkWhoZWEAAAPIAAAAHgAAACQDav/OaG10eAAAA+gAAAAaAAAANA4VAABsb2NhAAAEBAAAABwAAAAcBNwFjm1heHAAAAQgAAAAHQAAACAAUQAzbmFtZQAABEAAAADmAAABkn/SdU1wb3N0AAAFKAAAAEgAAACMBKY3Q3icY2BgYGQAgjO2i86D6LPHNnjBaABQlweWAAB4nGNgZGBg4ANiCQYQYGJgZGBm4AGSLGAeAwAE6ABBAHicY2Bk9GOcwMDKwMGozGjJwMBgB6WvM4gxFDMwMDGwMjPAgQCCyRCQ5prC4PCA4QMDY8P/AwwajA0MDg0MDIwgOQBoNwp8AHicY2BgYGaAYBkGRgYQ8AHyGMF8FgYDIM0BhEwgiQccHxj+/wezGCAsBWYBHqguMGBkY4BzGUF6mBhQASPDsAcA5QMIyAAAAAAAAAH//wACeJxtkjFvglAQx++I7w0vgmlCcWiMFawdTApBytKoNOnUyakxTo6OnToaP0LX9tMwdnTqzEfoJ9De8QpFkITj3uPu//9xPECgC9e4Bg/g5tKWY8yDO5qixyGKH/CeQ+j0cBI6uLbUxlKBsjbKqqRfjR1OgfV3pJ5BR+t7A606GWitw54rMdAKea9FPQbAMUPu7MMYYBj5xsjtGNLuoxPOidEhoniKXV7FtoXuHUYzgsRHseq2rFZ3JYQjTOEreS2VT5nzFC03y4jDp8lFXGMKegZbqZTcBrQz/6uIonMMSAw0jRHNR/bwlldEZBCDUWOoWYsC6p/ho24tCqjkLIMHPk0wNy8JPA48inIek3CGVZJAySTHSNinTBclxnvjHafPFYQKQweuCobCuemXskRa98jVm7o/CLgAk3WHNk3TpRnnpy3WpzCivxv2EUG8ijbdSmasRUFvvPEmp+qlrZRe5Eea7gWFjLRryida32W/7kko7HXPqX/Fs+pE5ccUU9zx11zgANNDgrtDQlK/p1J9pHicY2BkYGAA4vAXr7Pi+W2+MnAzHgCKMJw9tsELQf8/wHiAsQHI5WBgAokCAHlaDScAAAB4nGNgZGBgbPh/gEGD8QADwz8HIAkUQQG8AIQhBTgAAHicYzzAAAFTGRgYE6C4AQ0zIDAIAACORwQgAAAAAAAAAAAAAAAwAEwAjgDQARIBPgFsAYYBoAGueJxjYGRgYOBlMGBgYgABEMnIABJzAPMZAAh2AIUAAAB4nH2OMU7DQBBFnxMngEAIUaSh2YIO2bIXuckBLGqK9I60sSJZXmnjlFyDA3AGWo7BATgDF+DbLA1FdrWaN1//zw5wxSsJ40k45zbyjDMeIs+55yVyKs975AWXfEZeSv+WM0kvpNxMqZFnXHMXec4Tj5FTed4iL1jxEXkp/YsdXnegYUuHg533Q7PtRM9qW46SG4Ja1x67RlAr0Csy1iCHw2DJKVTXev9H/qqWimx6Vs5S61H7fqh9aJ2xeWHW5u9roa2yKrNFKdeJDTdqAwf200ZGU8ct2Lhw2PvelHlxKv4DN1o86QAAeJxjYGLAD3iBmJGBiZGJkZmRhZGVkY2RnZGDkZORi5GbvTQv09XAwABKG0JpIyhtDKVNoLQplDaD0uZQ2gJEuwHNAQCU2hYT) format('woff'), url(data:application/x-font-ttf;charset=utf-8;base64,AAEAAAANAIAAAwBQRkZUTWfLA2QAAAj4AAAAHEdERUYAOgAGAAAI2AAAACBPUy8yLuLamAAAAVgAAABWY21hcOAl89MAAAHkAAABUmdhc3D//wADAAAI0AAAAAhnbHlmncEVjQAAA1QAAANcaGVhZPxsoJEAAADcAAAANmhoZWEDav/OAAABFAAAACRobXR4DhUAAAAAAbAAAAA0bG9jYQTcBY4AAAM4AAAAHG1heHAAUQAzAAABOAAAACBuYW1lf9J1TQAABrAAAAGScG9zdASmN0MAAAhEAAAAjAABAAAAAQAAV+jral8PPPUACwHAAAAAAM3GsEoAAAAAzcawSgAA/8ABwAGAAAAACAACAAAAAAAAAAEAAAGA/8AAKAHAAAD+QAHAAAEAAAAAAAAAAAAAAAAAAAANAAEAAAANADAAAgAAAAAAAgAAAAEAAQAAAEAAAAAAAAAAAQFOAZAABQAIASMBOQAAAD4BIwE5AAAA1wAWAHMAAAIABQMAAAAAAAAAAAAAEAAAAAAAAAAAAAAAUGZFZABA4ADwAAGA/8AAKAGAAECAAAABAAAAAAAAAcAAAAAAAAAAlQAAAWAAAAFgAAABgAAAAYAAAAGAAAABgAAAAQAAAAEAAAABAAAAAAAAAAAAAAMAAAADAAAAHAABAAAAAABMAAMAAQAAABwABAAwAAAACAAIAAIAAAAA4AjwAP//AAAAAOAA8AD//wAAIAMQDAABAAAAAAAAAAAAAAEGAAABAAAAAAAAAAECAAAAAgAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAwAEwAjgDQARIBPgFsAYYBoAGuAAEAAAAAAWABYAAjAAAlFRQGKwEVFAYrASImPQEjIiY9ATQ2OwE1NDY7ATIWHQEzMhYBYA4KaA4KMAoOaAoODgpoDgowCg5oCg7IMAoOaAoODgpoDgowCg5oCg4OCmgOAAEAAACAAWAA4AAPAAAlFRQGIyEiJj0BNDYzITIWAWAOCv7QCg4OCgEwCg7IMAoODgowCg4OAAAAAgAA/+ABgAFgAB8AKwAAJDQvAiYiDwIGFB8BFjI/ARUUFjsBMjY9ARcWMj8BNhQOASIuATQ+ATIWAUEFWhcEDgQXWgUFFgUNBS8KBiAGCi8FDQUWRDRYaFg0NFhoWJoNBVoXBAQXWgUNBRcEBDB+BgoKBn4wBAQXP2hYNDRYaFg0NAAAAgAA/+ABgAFgAB8AKwAAJDQvASYiDwE1NCYrASIGHQEnJiIPAQYUHwIWMj8CNhQOASIuATQ+ATIWAUEFFgUNBS8KBiAGCi8FDQUWBQVaFwQOBBdaRDRYaFg0NFhoWJkNBRcEBDB+BgoKBn4wBAQXBQ0FWhcEBBdaQGhYNDRYaFg0NAAAAgAA/+ABgAFgACMALwAAJTU0JisBNTQmKwEiBh0BIyIGHQEUFjsBFRQWOwEyNj0BMzI+ARQOASIuATQ+ATIWATAKBkAKBiAGCkAGCgoGQAoGIAYKQAYKUDRYaFg0NFhoWJAgBgpABgoKBkAKBiAGCkAGCgoGQApKaFg0NFhoWDQ0AAAAAgAA/+ABgAFgAA8AGwAAJTU0JisBIgYdARQWOwEyPgEUDgEiLgE0PgEyFgEwCgbABgoKBsAGClA0WGhYNDRYaFiQIAYKCgYgBgoKSmhYNDRYaFg0NAAAAAIAAP/wAQABUAANABsAACQUDwEGIi8BJjQ2OwEyNhQGKwEiJjQ/ATYyHwEBAAVwBQwFcAUKBuAGCgoG4AYKBXAFDAVwdgwFcAUFcAUMClYMCgoMBXAFBXAAAAAAAQAAAFABAADgAA0AACQUDwEGIi8BJjQ2OwEyAQAFcAUMBXAFCgbgBtYMBXAFBXAFDAoAAAEAAABAAQAA0AANAAAkFAYrASImND8BNjIfAQEACgbgBgoFcAUMBXBWDAoKDAVwBQVwAAABAAD/wAHAAYAAAgAAEQEhAcD+QAGA/kAAAAAAAAAMAJYAAQAAAAAAAQAIABIAAQAAAAAAAgAHACsAAQAAAAAAAwAkAH0AAQAAAAAABAAIALQAAQAAAAAABQALANUAAQAAAAAABgAIAPMAAwABBAkAAQAQAAAAAwABBAkAAgAOABsAAwABBAkAAwBIADMAAwABBAkABAAQAKIAAwABBAkABQAWAL0AAwABBAkABgAQAOEAZgBvAG8AdABhAGIAbABlAABmb290YWJsZQAAUgBlAGcAdQBsAGEAcgAAUmVndWxhcgAARgBvAG4AdABGAG8AcgBnAGUAIAAyAC4AMAAgADoAIABmAG8AbwB0AGEAYgBsAGUAIAA6ACAAMgA1AC0ANQAtADIAMAAxADMAAEZvbnRGb3JnZSAyLjAgOiBmb290YWJsZSA6IDI1LTUtMjAxMwAAZgBvAG8AdABhAGIAbABlAABmb290YWJsZQAAVgBlAHIAcwBpAG8AbgAgADEALgAwAABWZXJzaW9uIDEuMAAAZgBvAG8AdABhAGIAbABlAABmb290YWJsZQAAAAACAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA0AAAABAAIBAgEDAQQBBQEGAQcBCAEJAQoBCwd1bmlFMDAwB3VuaUUwMDEHdW5pRTAwMgd1bmlFMDAzB3VuaUUwMDQHdW5pRTAwNQd1bmlFMDA2B3VuaUUwMDcHdW5pRTAwOAd1bmlGMDAwAAAAAf//AAIAAQAAAA4AAAAYAAAAAAACAAEAAwAMAAEABAAAAAIAAAAAAAEAAAAAzD2izwAAAADNxrBKAAAAAM3GsEo=) format('truetype'), url('fonts/footable.svg#myfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'footable';
    src: url('fonts/footable.svg#myfont') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}
.footable {
  width: 100%;
  /** SORTING **/

  /** PAGINATION **/

}
.footable.breakpoint > tbody > tr.footable-detail-show > td {
  border-bottom: none;
}
.footable.breakpoint > tbody > tr.footable-detail-show > td > span.footable-toggle:before {
  content: "\e001";
}
.footable.breakpoint > tbody > tr:hover:not(.footable-row-detail) {
  cursor: pointer;
}
.footable.breakpoint > tbody > tr > td.footable-cell-detail {
  background: #eee;
  border-top: none;
}
.footable.breakpoint > tbody > tr > td > span.footable-toggle {
  display: inline-block;
  font-family: 'footable';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  padding-right: 5px;
  font-size: 14px;
  color: #888888;
}
.footable.breakpoint > tbody > tr > td > span.footable-toggle:before {
  content: "\e000";
}
.footable.breakpoint.toggle-circle-arrow > tbody > tr.footable-detail-show > td > span.footable-toggle:before {
  content: "\e002";
}
.footable.breakpoint.toggle-circle-arrow > tbody > tr > td > span.footable-toggle:before {
  content: "\e003";
}
.footable.breakpoint.toggle-circle > tbody > tr.footable-detail-show > td > span.footable-toggle:before {
  content: "\e005";
}
.footable.breakpoint.toggle-circle > tbody > tr > td > span.footable-toggle:before {
  content: "\e004";
}
.footable.breakpoint.toggle-medium > tbody > tr > td > span.footable-toggle {
  font-size: 18px;
}
.footable.breakpoint.toggle-large > tbody > tr > td > span.footable-toggle {
  font-size: 24px;
}
.footable > thead > tr > th.footable-sortable:hover {
  cursor: pointer;
}
.footable > thead > tr > th.footable-sorted > span.footable-sort-indicator:before {
  content: "\e007";
}
.footable > thead > tr > th.footable-sorted-desc > span.footable-sort-indicator:before {
  content: "\e008";
}
.footable > thead > tr > th > span.footable-sort-indicator {
  display: inline-block;
  font-family: 'footable';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}
.footable > thead > tr > th > span.footable-sort-indicator:before {
  content: "\e006";
}
.footable > tfoot .pagination {
  margin: 0;
}
.footable-row-detail-inner {
  display: table;
}
.footable-row-detail-row {
  display: table-row;
  line-height: 1.5em;
}
.footable-row-detail-group {
  display: block;
  line-height: 2em;
  font-size: 1.2em;
  font-weight: bold;
}
.footable-row-detail-name {
  display: table-cell;
  font-weight: bold;
  padding-right: 0.5em;
}
.footable-row-detail-value {
  display: table-cell;
}
